/*
 *  Global variables
 *  Component specific colors should be in that component's scss file.
 */

 /*
  * Adjusts baseline font size.
  * Vertical rhythm is set through this baseline.
  * REM values will be based of this
  */

$baseline: 18;

/*
 * SparkPost Brand Colors 🖌
 * Usage: background: color(orange);
 */

$color-map: (
  // Primary
  gray          : #55555a,
  orange        : #fa6423,
  blue          : #37aadc,

  // Secondary
  green         : #9bcd5a,
  magenta       : #b94696,
  mustard       : #e3af00,
  teal          : #0097b3,

  // Alert
  alert         : #f00a0a,

  // Hovers
  orange--dark  : #e9591b,
  blue--dark    : #2693c3,
);

/*
 * Grayscale Map
 * Usage: background: grayscale(1);
 */
$grayscale-map: (
  0  : #000000,
  1  : #414146,
  2  : #55555a,
  3  : #6e6e73,
  4  : #828287,
  5  : #aaaaaf,
  6  : #bebec3,
  7  : #d2d2d7,
  8  : #e1e1e6,
  9  : #f2f2f5,
  10 : #ffffff,

  // Primary Grays
  black   : #000000,
  dark    : #414146,
  medium  : #55555a,
  light   : #f2f2f5,
  white   : #ffffff,
);

/*
 * Outputs breakpoint value 📱
 * Usage: @media screen and (min-width: break(md)) { ... }
 */

$breakpoints: (
  sm: 30em,
  md: 48em,
  lg: 64em,
  xl: 80em,
  xxl: 98em,
);

/*
 * Outputs box shadow 🆒
 * Usage: box-shadow: shadow(2);
 * Concatenates all shodows below selected level.
 * shadow(3) will output 1, 2, and 3 together.
 */

$shadows: (
  1: 0px 1px 2px rgba(#414146, 0.1),
  2: 0px 5px 9px rgba(#414146, 0.14),
  3: 0px 10px 30px rgba(#414146, 0.16)
);

$nav-width: 6rem;
$secondary-nav-width: 10rem;
