// Styleguide specific styles
.flex-demo {
  & > * {
    margin-bottom: 1rem !important;
    background: grayscale(8);
    background-clip: content-box;
    text-align: center;

    font-size: 12px;
    font-weight: 500;
    color: grayscale(4);
  }

  &__header {
    text-align: center;
    color: grayscale(4);
    margin: 0.5rem;
    font-weight: 500;
  }
  & .flex-demo {
    margin-left: 0;
  }
  & .flex-demo > * {
    margin-top: 1rem;
    background-clip: content-box !important;
    background: grayscale(6);

    &:last-child {
      padding-right: 1rem;
    }
  }
}

.demo__display, .demo__desc {
  margin-left: 0;
}


.demo__table {
  border-right: 1px solid grayscale(8);
  border-top: 1px solid grayscale(8);
  border-radius: 6px;
  margin-bottom: 3rem;
}

.demo__display {
  & > * {
    padding: 2rem 0;
    text-align: center;

    border-left: 1px solid grayscale(8);
    border-bottom: 1px solid grayscale(8);

    @media screen and (min-width: break(md)) {

    }

    &:first-child {
      // border: none;
    }
  }
}

.demo__desc {
  padding: 1rem;
  border-bottom: 1px solid grayscale(8);
  border-left: 1px solid grayscale(8);
  background: grayscale(9);
  border-radius: 0 0 6px 6px;
}

code.inline {
  color: #d33682
}

pre.demo, code.demo {
  background: transparent;
  margin: 0;
  font-size: rem(12);
}

pre.demo--border {
  padding: 1rem;
  border: 1px solid grayscale(8);
}
// Syntax Highlighting
pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
}
.hljs {
  color: #657b83
}
.hljs-comment,
.hljs-quote {
  color: #a9b6b6
}
.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
  color: #2aa198
}
.hljs-doctag,
.hljs-literal,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
  color: #d33682
}
.hljs-class,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
  color: #073642
}
.hljs-attr,
.hljs-attribute,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #2aa198
}
.hljs-value {
  color: #d33682
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
  color: #cb4b16
}
.hljs-built_in,
.hljs-deletion {
  color: #dc322f
}
.hljs-formula {
  background: #eee8d5
}
