$orange-border: darken(color(orange--dark), 8);
$blue-border: darken(color(blue--dark), 8);
$gray-border: darken(grayscale(7), 8);

.button {
  display: inline-block;
  vertical-align: top;

  margin-bottom: 0;
  padding: 0 rem(18);

  background: color(orange);
  border: 1px solid rgba($orange-border, 0);
  outline: none;

  color: grayscale(white);
  text-transform: uppercase;
  font-size: rem(12);
  font-family: $gotham-regular;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: rem(36);

  transition: background 0.15s, border 0.15s, box-shadow 0.1s;

  &:hover, &:active, &:focus, &.is-pressed {
    background: color(orange--dark);
    border: 1px solid rgba($orange-border, 1);
    color: grayscale(white);
    text-decoration: none;
  }

  &:active, &.is-pressed {
    box-shadow: inset 2px 3px 6px rgba(grayscale(1), 0.2);
  }

  &.is-disabled, &[disabled] {
    pointer-events: none;
    opacity: 0.55;
  }

  // Button Colors
  &--blue {
    background: color(blue);
    border: 1px solid rgba($blue-border, 0);

    &:hover, &:active, &:focus, &.is-pressed {
      background: color(blue--dark);
      border: 1px solid rgba($blue-border, 1);
    }
  }

  &--muted {
    color: grayscale(1);
    background: grayscale(8);
    border: 1px solid rgba($gray-border, 0);

    &:hover, &:active, &:focus, &.is-pressed {
      background: grayscale(7);
      border: 1px solid rgba($gray-border, 1);
      color: grayscale(1);
    }

    &.is-pressed {

    }
  }

  // Button Accents
  //   green         : #9bcd5a,
    // magenta       : #b94696,
    // mustard       : #e3af00,
    // teal          : #0097b3,
  &--blueAccent, &--greenAccent, &--tealAccent, &--magentaAccent {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      left: -1px;
      right: -1px;
      height: 4px;
    }
  }

  &--blueAccent:after    { background: color(blue);     }
  &--greenAccent:after   { background: color(green);    }
  &--tealAccent:after    { background: color(teal);     }
  &--magentaAccent:after { background: color(magenta);  }

  // Button Sizes
  &--l {
    padding: 0 rem(21);
    font-size: 15px;
    line-height: rem(45);
  }

  &--m {
    padding: 0 rem(18);
    font-size: 12px;
    line-height: rem(36);
  }

  &--s {
    padding: 0 rem(12);
    font-size: 11px;
    line-height: rem(32);
  }

  &--icon {
    position: relative;
    padding: 0 rem(9);
    width: rem(32);
    height: rem(32);

    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.button--s {
      width: rem(27);
      height: rem(27);
    }
    &.button--m {
      width: rem(32);
      height: rem(32);
    }
    &.button--l {
      width: rem(39);
      height: rem(39);
    }
  }

  // Other Options
  &--full {
    display: block;
    width: 100%;
    text-align: center;
  }
}

// Button Group
.button-group {
  display: inline-block;
  margin-right: rem(18);

  & > .button {
    position: relative;
    margin-right: -4px;

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: -2px;
      top: -1px;
      bottom: -1px;
      width: 2px;
      background: rgba(#000, 0.05);
    }

    &:first-child:after {
      display: none;
    }
  }
}
