$orange-border: darken(color(orange--dark), 8);
$blue-border: darken(color(blue--dark), 8);
$gray-border: darken(grayscale(6), 8);

.button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.33rem 1rem;

  background: color(orange);
  border: 1px solid rgba($orange-border, 0);
  outline: none;

  color: grayscale(white);
  text-transform: uppercase;
  font-family: $gotham-regular;
  font-weight: 500;
  letter-spacing: 0.04em;

  transition: background 0.15s, border 0.15s;

  &:hover, &:active, &:focus {
    background: color(orange--dark);
    border: 1px solid rgba($orange-border, 1);
  }

  &:active, &:focus {
    text-decoration: underline;
  }

  // Button Colors
  &--blue {
    background: color(blue);
    border: 1px solid rgba($blue-border, 0);

    &:hover, &:active, &:focus {
      background: color(blue--dark);
      border: 1px solid rgba($blue-border, 1);
    }
  }

  &--muted {
    color: grayscale(1);
    background: grayscale(7);
    border: 1px solid rgba($gray-border, 0);

    &:hover, &:active, &:focus {
      background: grayscale(6);
      border: 1px solid rgba($gray-border, 1);
    }
  }

  // Button Sizes
  &--l {
    padding: 0.667rem 1.334rem;
    font-size: 15px;
  }

  &--m {
    padding: 0.33rem 1rem;
    font-size: 12px;
  }

  &--s {
    padding: 0.166rem 0.667rem;
    font-size: 10px;
  }

  // Other Options
  &--full {
    display: block;
    width: 100%;
  }

  &--disabled, &[disabled] {
    pointer-events: none;
    opacity: 0.55;
  }
}

// Button Group
.button-group {
  & > .button {
    position: relative;
    margin-right: -3px;

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: -2px;
      top: -1px;
      bottom: -1px;
      width: 2px;
      background: rgba(#000, 0.05);
    }

    &:first-child:after {
      display: none;
    }
  }
}
