%input-base {
  box-sizing: border-box;
  display: inline-block;

  outline: none;
  border: 1px solid grayscale(7);

  font-weight: 500;
  font-size: rem(15);
  line-height: 1.5em;

  transition: border 0.15s;

  @include placeholder {
    color: grayscale(4);
    font-weight: 400;
  }

  &:hover {
    border: 1px solid grayscale(5);
  }

  &:focus {
    border: 1px solid color(blue);
  }

  &.is-disabled, &[disabled] {
    background: grayscale(9);
    border: 1px solid grayscale(7);
    pointer-events: none;
    @include placeholder {
      color: grayscale(6);
    }
  }

  .has-error > & {
    border: 1px solid color(alert);
  }

  .input__fieldset--full & {
    width: 100%;
  }
}

.input__fieldset {
  display: inline-block;
  position: relative;
  border: none;
  padding: 0;
  text-align: left;

  &--full {
    width: 100%;
  }
}

.input__label {
  display: block;
  margin-bottom: 0rem;

  font-weight: 700;
  font-size: rem(15);
}

.input__error {
  display: block;
  position: absolute;
  right: 0;
  top: rem(7);

  color: color(alert);
  font-size: rem(11);
  font-weight: 500;
  line-height: rem(12);

  opacity: 0;

  .has-error > & {
    opacity: 1;
  }
}

.input__text {
  @extend %input-base;
  padding: 0.667rem;

  &--s {
    padding: 0.334rem;
    font-size: rem(13);
  }

  &--m {
    padding: 0.667rem;
  }

  &--l {
    padding: 1rem;
  }
}

.input__textarea {
  @extend %input-base;
  max-width: 100%;
  padding: 0.667rem;

  &--s {
    padding: 0.334rem;
    font-size: rem(13);
  }

  &--m {
    padding: 0.667rem;
  }

  &--l {
    padding: 1rem;
  }
}

.input__select {
  box-sizing: border-box;
  @extend %input-base;
  appearance: none;
  max-width: 100%;
  padding: 0.667rem 3rem 0.667rem 0.667rem;

  border-radius: 0;
  background: transparent;

  &--s {
    padding: 0.334rem 3rem 0.334rem 0.334rem;
    font-size: rem(13);
  }

  &--m {
    padding: 0.667rem 3rem 0.667rem 0.667rem;
  }

  &--l {
    padding: 1rem 3rem 1rem 1rem;
  }

  &Arrow {
    display: block;
    content: "";
    position: absolute;
    right: 1rem;
    bottom: 27%;

    height: 2px;
    width: 2px;
    border-top: 6px solid grayscale(6);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    pointer-events: none;
    transition: border 0.15s;
  }

  &:hover + .input__selectArrow {
    border-top: 6px solid grayscale(4);
  }

  &:focus + .input__selectArrow {
    border-top: 6px solid color(blue);
  }
}
