.fieldset {
  display: inline-block;
  width: 100%;

  position: relative;
  border: none;
  padding: 0;
  text-align: left;

  &--inline {
    width: auto;
  }
}

.label {
  display: inline-block;;
  margin-bottom: 0;

  font-weight: 700;
  font-size: rem(15);
}

.input__group {
  position: relative;
  width: 100%;
}

%input-base {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;

  outline: none;
  border: 1px solid grayscale(7);

  font-weight: 500;
  font-size: rem(15);
  line-height: 1.5em;

  transition: border 0.15s;

  @include placeholder {
    color: grayscale(4);
    font-weight: 400;
  }

  &:hover {
    border: 1px solid grayscale(5);
  }

  &:focus {
    border: 1px solid color(blue);

    & ~ .fa {
      color: color(blue);
    }
  }

  &.is-disabled, &[disabled] {
    background: grayscale(9);
    border: 1px solid grayscale(7);
    pointer-events: none;
    @include placeholder {
      color: grayscale(6);
    }
  }

  .has-error > & {
    border: 1px solid color(alert);
  }

  & ~ .fa {
    position: absolute;
    line-height: 1.5em;
    font-size: rem(15);
    color: grayscale(5);
    transition: 0.15s;
  }
}

.input__error {
  display: block;
  position: absolute;
  bottom: rem(-16);

  color: color(alert);
  font-size: rem(13);
  font-weight: 500;
  line-height: rem(13);

  opacity: 0;

  .has-error > & {
    opacity: 1;
  }
}

// Text Input
.input__text {
  @extend %input-base;
  padding: rem(12);

  .input__group--icon & {
    padding-left: rem(36);
  }

  & ~ .fa {
    top: 49%;
    left: rem(12);
    transform: translate(0, -50%);
  }

  &--s {
    padding: rem(6);
    font-size: rem(13);
  }

  &--m {
    padding: rem(12);
  }

  &--l {
    padding: rem(18);
  }
}

// Textarea
.input__textarea {
  @extend %input-base;
  max-width: 100%;
  padding: rem(12);

  & ~ .fa {
    top: rem(12);
    left: rem(12);
    transform: none;
  }

  .input__group--icon & {
    padding-left: rem(36);
  }

  &--s {
    padding: rem(6);
    font-size: rem(13);

    .input__group--icon & {
      padding-left: rem(24);
    }

    & ~ .fa {
      top: rem(6);
      left: rem(6);
    }
  }

  &--m {
    padding: rem(12);
  }

  &--l {
    padding: rem(18);

    .input__group--icon & {
      padding-left: rem(42);
    }

    & ~ .fa {
      top: rem(18);
      left: rem(18);
    }
  }
}

// Select
.input__select {
  box-sizing: border-box;
  @extend %input-base;
  appearance: none;
  max-width: 100%;
  padding: rem(12) rem(54) rem(12) rem(12);

  border-radius: 0;
  background: transparent;

  .input__group--icon & {
    padding-left: rem(36);
  }

  & ~ .fa {
    top: 49%;
    left: rem(12);
    transform: translate(0, -50%);
  }

  &--s {
    padding: rem(6) rem(54) rem(6) rem(6);
    font-size: rem(13);
  }

  &--m {
    padding: rem(12) rem(54) rem(12) rem(12);
  }

  &--l {
    padding: rem(18) rem(54) rem(18) rem(18);
  }

  &Arrow {
    display: block;
    content: "";
    position: absolute;
    right: rem(18);
    top: 50%;
    transform: translate(0, -50%);

    height: 2px;
    width: 2px;
    border-top: 6px solid grayscale(6);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    pointer-events: none;
    transition: border 0.15s;
  }

  &:hover + .input__selectArrow {
    border-top: 6px solid grayscale(4);
  }

  &:focus + .input__selectArrow {
    border-top: 6px solid color(blue);
  }
}
