$page-accent-height: 6px;

.page {
  padding-top: $page-accent-height;
  min-height: 100vh;
  background: grayscale(light);

  // Page Accent Bar at the top
  // Uses after to avoid zindexing
  &:after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: $page-accent-height;
    background: color(orange);
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    max-width: break(xl);
    margin: 0 auto;

    padding: rem(18) rem(18) rem(18) $nav-width + rem(18);

    .page--open-nav & {
      padding: rem(18) rem(18) rem(18) $nav-width + $secondary-nav-width + rem(18);
    }

    .page--full & {

    }
  }
}
