.panel {
  margin-bottom: 1rem;
  background: grayscale(white);
  border-bottom: 1px solid grayscale(8);
  box-shadow: shadow(1);

  &__heading {
    padding: 1rem;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    padding: 1rem;
    border-top: 1px solid grayscale(9);

    & > *:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      border: none;
    }
  }

  &--accent {
    &:before {
      display: block;
      content: "";
      height: 3px;
      margin-bottom: -3px;
      background: color(orange);
    }
  }
}
