{% extends "layouts/main.html" %}

{% set primaryNav = "components" %}
{% set secondaryNav = "buttons" %}

{% block title %}SparkPost | Style Guide{% endblock %}

{% block content %}

  <div class="panel">
    <div class="panel__heading">
      <h4>Buttons</h4>
    </div>
    <div class="panel__body">

      <h5>Button Sizes</h5>
      <p>Define button size with</p>

      <div class="row demo__display">
        <div class="col-xs-3 ">
          <button class="button">Button</button>
        </div>
        <div class="col-xs-3">
          <button class="button button--secondary">Button</button>
        </div>
        <div class="col-xs-3">
          <button class="button button--secondary">Button</button>
        </div>
        <div class="col-xs-3">
          <button class="button button--tertiary">Button</button>
        </div>
      </div>

      <div class="row demo__desc">
        asdf
      </div>

      <h5>Button Colors</h5>
      <p>Define button size with</p>

      <div class="row demo__display">
        <div class="col-xs-3">
          <button class="button">Button</button>
        </div>
        <div class="col-xs-3">
          <button class="button button--secondary">Button</button>
        </div>
        <div class="col-xs-3">
          <button class="button button--secondary">Button</button>
        </div>
        <div class="col-xs-3">
          <button class="button button--tertiary">Button</button>
        </div>
      </div>

      <div class="row demo__desc">
        asdf
      </div>

    </div>
  </div>


{% endblock %}
