{% extends "layouts/main.html" %}

{% set primaryNav = "components" %}
{% set secondaryNav = "buttons" %}

{% block title %}SparkPost | Style Guide{% endblock %}

{% block content %}

  <div class="panel">
    <div class="panel__heading">
      <h4>Buttons</h4>
    </div>
    <div class="panel__body">

      <h5>Button colors</h5>
      <p>Define button colors with <code class="inline">.button--blue</code> or <code class="inline">.button--muted</code>. Orange is used with no modifier class.</p>

      <div class="demo__table">
        <div class="row demo__display">
          <div class="col-xs-12 col-md-4">
            <button class="button">Button</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button class="button button--blue">Button</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button class="button button--muted">Button</button>
          </div>
        </div>

        <div class="row demo__desc">
          <pre class="demo">
            <code class="html demo">
              &lt;button class="button"&gt;...&lt;/button&gt;<br>
              &lt;button class="button button--blue"&gt;...&lt;/button&gt;<br>
              &lt;button class="button button--muted"&gt;...&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <h5>Button sizes</h5>
      <p>Define button font and padding sizing with <code class="inline">.button--l</code>, <code class="inline">.button--m</code>, or <code class="inline">.button--s</code>. Medium is used with no modifier class.</p>

      <div class="demo__table">

        <div class="row demo__display">
          <div class="col-xs-12 col-md-4">
            <button class="button button--l">Button</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button class="button button--m">Button</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button class="button button--s">Button</button>
          </div>
        </div>

        <div class="row demo__desc">
          <pre class="demo">
            <code class="html demo">
              &lt;button class="button button--l"&gt;...&lt;/button&gt;<br>
              &lt;button class="button button--m"&gt;...&lt;/button&gt;<br>
              &lt;button class="button button--s"&gt;...&lt;/button&gt;<br>
            </code>
          </pre>
        </div>

      </div>


      <h5>Other options</h5>
      <p><code class="inline">.button--full</code> expands the button to 100% of its parent's width. <code class="inline">.is-disabled</code> and the <code class="inline">disabled</code> attribute disables pointer events.</p>
      <div class="demo__table">
        <div class="row demo__display">
          <div class="col-xs-12 col-md-6 padding--lr-1">
            <button class="button button--blue button--full">Button</button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button--blue is-disabled">Button</button>
          </div>
        </div>

        <div class="row demo__desc">
          <pre class="demo">
            <code class="html demo">
              &lt;button class="button button--blue button--full"&gt;...&lt;/button&gt;<br>
              &lt;button class="button button--blue is-disabled" disabled &gt;...&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <h5>Button with icon</h5>

      <h5>Button group</h5>
      <p>Wrap two or more buttons within <code class="inline">.button-group</code>.</p>

      <div class="demo__table">
        <div class="row demo__display">
          <div class="col-xs-12">
            <div class="button-group">
              <button class="button button--muted">Button</button>
              <button class="button button--muted">Button</button>
              <button class="button button--muted" disabled>Button</button>
            </div>
          </div>
        </div>

        <div class="row demo__desc">
          <pre class="demo">
            <code class="html demo">
              &lt;div class="button-group"><br>
                &nbsp;&nbsp;&lt;button class="button button--muted">...&lt;/button><br>
                &nbsp;&nbsp;&lt;button class="button button--muted">...&lt;/button><br>
                &nbsp;&nbsp;&lt;button class="button button--muted" disabled>...&lt;/button><br>
              &lt;/div>
            </code>
          </pre>
        </div>
      </div>

    </div>
  </div>


{% endblock %}
