{% extends "layouts/main.html" %}

{% set primaryNav = "components" %}
{% set secondaryNav = "formelements" %}

{% block title %}SparkPost | Style Guide{% endblock %}

{% block content %}

  <div class="panel">
    <div class="panel__heading">
      <h4>Form elements</h4>
    </div>
    <div class="panel__body">
      <h5>Input sizes</h5>

      <h5>Input with icon</h5>
      <h5>Input with context</h5>

      <h5>Disabled input</h5>

      <h5>Textarea</h5>
      <h5>Select</h5>
      <h5>Checkbox &amp; Radio</h5>
    </div>
  </div>


{% endblock %}
