{% extends "layouts/main.html" %}

{% set primaryNav = "utility" %}
{% set secondaryNav = "grid" %}

{% block title %}SparkPost | Style Guide{% endblock %}

{% block content %}

  <div class="panel">
    <div class="panel__heading">
      <h5>Grid</h5>
    </div>
    <div class="panel__body">

      <p>The grid uses a responsive 12 column system built on flexbox. Wrap columns with your grid namespace <code>&lt;div class="row"&gt;</code>. Rows are not needed, but if you wish to force the next column down, simply close the grid and reopen. The grid takes full the width of its parent, you can place these anywhere, ie. within a container, modal, or within another grid column.</p>

      <h6 class="flex-demo__header">.row</h6>

      <div class="row flex-demo">
        <div class="col-xs">.col-xs</div>
        <div class="col-xs">.col-xs</div>
      </div>

      <div class="row flex-demo">
        <div class="col-xs-2">.col-xs-2</div>
        <div class="col-xs-8">.col-xs-8</div>
        <div class="col-xs-2">.col-xs-2</div>
      </div>

      <div class="row flex-demo">
        <div class="col-xs-5">.col-xs-5</div>
        <div class="col-xs-6 col-xs-offset-1">.col-xs-5</div>
      </div>

    </div>
  </div>

{% endblock %}
