{% extends "layouts/main.html" %}

{% set primaryNav = "components" %}
{% set secondaryNav = "panels" %}

{% block title %}SparkPost | Style Guide{% endblock %}

{% block content %}

  <div class="panel">
    <div class="panel__heading">
      <h5>Panels</h5>
    </div>
    <div class="panel__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facilis, porro sint voluptate! Ut libero et placeat, molestiae dolor. Magni blanditiis esse, autem excepturi dolorum delectus distinctio eaque corrupti tempore.</p>
    </div>
  </div>


{% endblock %}
