$orange-border: darken(color(orange--dark), 8);
$blue-border: darken(color(blue--dark), 8);
$gray-border: darken(grayscale(6), 8);

.button {
  display: inline-block;
  vertical-align: top;

  margin-bottom: 0;
  padding: 0 1.5em;

  background: color(orange);
  border: 1px solid rgba($orange-border, 0);
  outline: none;

  color: grayscale(white);
  text-transform: uppercase;
  font-size: 12px;
  font-family: $gotham-regular;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 2.5em;

  transition: background 0.15s, border 0.15s, box-shadow 0.1s;

  &:hover, &:active, &:focus, &.is-pressed {
    background: color(orange--dark);
    border: 1px solid rgba($orange-border, 1);
    color: grayscale(white);
  }

  &:active, &.is-pressed {
    box-shadow: inset 2px 3px 6px rgba(grayscale(1), 0.2);
  }

  &.is-disabled, &[disabled] {
    pointer-events: none;
    opacity: 0.55;
  }

  // Button Colors
  &--blue {
    background: color(blue);
    border: 1px solid rgba($blue-border, 0);

    &:hover, &:active, &:focus, &.is-pressed {
      background: color(blue--dark);
      border: 1px solid rgba($blue-border, 1);
    }
  }

  &--muted {
    color: grayscale(1);
    background: grayscale(7);
    border: 1px solid rgba($gray-border, 0);

    &:hover, &:active, &:focus, &.is-pressed {
      background: grayscale(6);
      border: 1px solid rgba($gray-border, 1);
      color: grayscale(1);
    }

    &.is-pressed {

    }
  }

  // Button Sizes
  &--l {
    padding: 0 rem(21);
    font-size: 15px;
  }

  &--m {
    padding: 0 rem(18);
    font-size: 12px;
  }

  &--s {
    padding: 0 rem(12);
    font-size: 10px;
  }

  // Other Options
  &--full {
    display: block;
    width: 100%;
  }

  & > .fa {
    line-height: 2em;
  }

  & > .fa-lg {
    font-size: 1.5em;

  }

  & > .fa-2x {
    font-size: 2em;

  }

  & > .fa-3x {
    font-size: 3em;
    //line-height: 1.6em;
  }
}

// Button Group
.button-group {
  display: inline-block;
  margin-right: rem(18);

  & > .button {
    position: relative;
    margin-right: -4px;

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: -2px;
      top: -1px;
      bottom: -1px;
      width: 2px;
      background: rgba(#000, 0.05);
    }

    &:first-child:after {
      display: none;
    }
  }
}
