<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}SparkPost | Style Guide{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/css/styles.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <link rel="stylesheet" href="public/css/styleguide.min.css">

  </head>
  <body class="page {% if secondaryNav %}page--open-nav{% endif %}">
    <div class="page__container">
      {% include "components/navigation.html" %}
      <div class="page__content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- <script type="text/javascript" src="public/js/bundle.js"></script> -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
